.live-tracking-container {
  padding: 20px;
}

.controls {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.dropdown {
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.vehicle-icon, .site-icon {
  background: transparent;
}
.leaflet-container {
  width: 100% !important;
  height: 100% !important;
}
